# Ignore virtual environments
venv/
venv2/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
